<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="pylesos_gazebo">

  <!-- Подключаем Xacro базового робота -->
  <xacro:include filename="../ex02/robot.urdf.xacro"/>
  <xacro:robot/>

  <!-- === Gazebo diff drive плагин === -->
  <gazebo>
    <plugin name="diff_drive_controller" filename="libgazebo_ros_diff_drive.so">
      <ros>
        <namespace>/</namespace>
        <remapping>
          <from>cmd_vel</from>
          <to>/cmd_vel</to>
        </remapping>
      </ros>
      <wheelSeparation>${2*wheel_offset_y}</wheelSeparation>
      <wheelDiameter>${2*wheel_radius}</wheelDiameter>
      <leftJoint>left_wheel_joint</leftJoint>
      <rightJoint>right_wheel_joint</rightJoint>
      <updateRate>100</updateRate>
    </plugin>
  </gazebo>

</robot>
