<launch>
	<node pkg="turtlesim" exec="turtlesim_node" name="sim1" namespace="turtlesim1" />
	<node pkg="turtlesim" exec="turtlesim_node" name="sim2" namespace="turtlesim2" />
	<node pkg="turtlesim" exec="turtlesim_node" name="sim3" namespace="turtlesim3" />
	
	<node pkg="turtlesim" exec="mimic" name="mimic21">
		<remap from="/input/pose" to="/turtlesim1/turtle1/pose" />
		<remap from="/output/cmd_vel" to="/turtlesim2/turtle1/cmd_vel" />
	</node>
	
	<node pkg="turtlesim" exec="mimic" name="mimic32">
		<remap from="/input/pose" to="/turtlesim2/turtle1/pose" />
		<remap from="/output/cmd_vel" to="/turtlesim3/turtle1/cmd_vel" />
	</node>
</launch>
