<?xml version="1.0"?>
<robot name="pylesos_gazebo" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find pylesos_gazebo)/urdf/robot.urdf.xacro" />

    <!-- Gazebo plugins -->
    <gazebo>
        <plugin filename="libgz-sim-joint-state-publisher-system.so"
                name="gz::sim::systems::JointStatePublisher">
            <topic>joint_states</topic> 
        </plugin>

        <plugin filename="libgz-sim-diff-drive-system.so"
                name="gz::sim::systems::DiffDrive">
            <left_joint>left_wheel_joint</left_joint>
            <right_joint>right_wheel_joint</right_joint>
            <wheel_separation>${2*wheel_offset_y}</wheel_separation>
            <wheel_radius>${wheel_radius}</wheel_radius>
            
            <odom_publish_frequency>50</odom_publish_frequency>
            <topic>cmd_vel</topic>
            
            <odom_topic>odom</odom_topic> 
            <tf_topic>tf_diff_drive</tf_topic> <odom_frame>odom</odom_frame>
            <robot_base_frame>base_link</robot_base_frame>
        </plugin>

    </gazebo>

    <!-- Gazebo materials -->
    <gazebo reference="base_link">
        <material>Gazebo/Silver</material>
    </gazebo>

    <gazebo reference="left_wheel">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="right_wheel">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="caster_wheel">
        <material>Gazebo/DarkGray</material>
    </gazebo>

</robot>